  <!-- Mobile Menu Bar Start -->
  <%- include('../components/mobile-menu-bar') %>
  <!-- Mobile Menu Bar End -->

  <!-- Mobile Menu Sidebar Start -->
    <%- include('../components/mobile-menu-sidebar') %>
  <!-- Mobile Menu Sidebar End -->

  <!-- Sidebar Profile Start -->
    <%- include('../components/sidebar-profile') %>
  <!-- Sidebar Profile End -->

  <%- include('../components/nav') %>

  <div
    class="minfo__contentBox relative mx-auto max-w-container xl:max-2xl:max-w-65rem *:py-5 xl:*:py-3.5 *:max-w-content max-xl:*:mx-auto xl:*:ml-auto xl:max-2xl:*:max-w-50rem"
  >
    <%- include('../components/home/hero') %>

    <%- include('../components/home/about-me') %>

    <%- include('../components/home/services') %>

    <%- include('../components/home/my-skills') %>

    <%- include('../components/home/my-resume') %>

    <%- include('../components/home/my-portfolio') %>

    <%- include('../components/home/blog-section') %>

    <%- include('../components/home/testimonials-section') %>

    <%- include('../components/home/contact-section') %>
  </div>

