  <!-- Mobile Menu Bar Start -->
  <%- include('../components/mobile-menu-bar') %>
  <!-- Mobile Menu Bar End -->

  <!-- Mobile Menu Sidebar Start -->
    <%- include('../components/mobile-menu-sidebar') %>
  <!-- Mobile Menu Sidebar End -->

  <!-- Sidebar Profile Start -->
    <%- include('../components/sidebar-profile') %>
  <!-- Sidebar Profile End -->

  <!-- Nav/Navigation Start -->
  <%- include('../components/nav') %>
  <!-- Nav/Navigation End -->

  <!-- Main Content Start -->
  <div
    class="minfo__contentBox relative mx-auto max-w-container xl:max-2xl:max-w-65rem *:py-5 xl:*:py-3.5 *:max-w-content max-xl:*:mx-auto xl:*:ml-auto xl:max-2xl:*:max-w-50rem"
  >
    <!-- Hero/Introduction Section Start -->
    <%- include('../components/home/hero') %>
    <!-- Hero/Introduction Section End -->

    <!-- About Me Section Start -->
    <%- include('../components/home/about-me') %>
    <!-- About Me Section End -->

    <!-- My Services Section Start -->
    <%- include('../components/home/services') %>
    <!-- My Services Section End -->

    <!-- Skills Section Start -->
    <%- include('../components/home/my-skills') %>
    <!-- Skills Section End -->

    <!-- My Resume Section Start -->
    <%- include('../components/home/my-resume') %>
    <!-- My Resume Section End -->

    <!-- Portfolio Section Start -->
    <%- include('../components/home/my-portfolio') %>
    <!-- Portfolio Section End -->

    <!-- Blog Section Start -->
    <%- include('../components/home/blog-section') %>
    <!-- Blog Section End -->

    <!-- Testimonial Section Start -->
    <%- include('../components/home/testimonials-section') %>
    <!-- Testimonial Section End -->

    <!-- Contact Section Start -->
    <%- include('../components/home/contact-section') %>
    <!-- Contact Section End -->
  </div>
  <!-- Main Content End -->

